@import '~@angular/material/theming';

$btm-font-family: 'Heebo, Roboto, "Helvetica Neue", sans-serif';
$btm-typography-config: mat-typography-config(
  $font-family: $btm-font-family
);

$btm-theme-primary: mat-palette($mat-teal); //$btm-primary-palette);
$btm-theme-accent: mat-palette($mat-amber); //btm-accent-palette);
$btm-theme-warn: mat-palette($mat-red);

$btm-theme: mat-light-theme(
  $btm-theme-primary,
  $btm-theme-accent,
  $btm-theme-warn
);

$btm-primary: mat-color($btm-theme-primary);
$btm-accent: mat-color($btm-theme-accent);

$foreground: map-get($btm-theme, foreground);
