@import '_theme';

.table-container {
  margin: 16px;
}

table {
  width: 100%;
}

tr {
  &:not(.mat-header-row):hover {
    background: #f5f5f5;
  }

  button:not(:last-child) {
    margin-left: 8px;
  }
}

.mat-column-actions {
  max-width: 200px;
  text-align: left;
}

.mat-column-description {
  max-width: 320px;
}

.filters {
  margin: 16px 16px 0;
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  border-bottom: 1px solid mat-color($foreground, divider);
}
